<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Party U </title>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="images/logo.png" type="image/x-icon" />
    <!-- CSS Externos -->
    <link href="stylesheets/validacao.css" rel="stylesheet" />
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
    <!-- Fonte Ballo Da 2 e Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Cabeçalho -->
    <header class="align-self-center p-3 bg-white rounded">
        <div id="container" class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                    <a href="/"> <p id="titulo_logo"> PARTY U </p> </a> 
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <section>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="text-center titulo"> Cadastro Promotora </h2>
                        <!-- Formulário Cadastro Promotora -->
                        <div class="container">
                            <div class="row">
                              <div class="col-md-12">
                                <form
                                  action="/cadastroPromotoraForm"
                                  class="needs-validation"
                                  data-name="Validation Form"
                                  id="verification"
                                  method="post"
                                  name="wf-form-signup-form"
                                  novalidate=""
                                >
            
                                  <div class="form-group form-group-name mx-auto">
                                    <label class="label-form-control d-block required" for="nome" >Nome da Empresa</label >
                                    <input
                                      class="form-control form-control-nome w-100 required"
                                      data-validate="empresa"
                                      id="nome"
                                      name="nome"
                                      placeholder="Insira o nome da empresa"
                                      required="required"
                                      spellcheck="false"
                                      title="Insira o nome da empresa"
                                      type="text"
                                    />
                                    <div class="feedback"></div>
                                  </div>
                                  <!-- end bootstrap form-group -->
            
                                  <div class="form-group form-group-cpf mx-auto">
                                    <label class="label-form-control d-block required" for="cnpj" >CNPJ</label >
                                    <input
                                      class="form-control form-control-cpf w-100 masked required"
                                      data-validate="cnpj"
                                      id="cnpj"
                                      name="cnpj"
                                      pattern="^[0-9./-]*$"
                                      placeholder="XX.XXX.XXX/XXXX-XX"
                                      required="required"
                                      spellcheck="false"
                                      title="Insira o CNPJ da empresa"
                                    />
                                    <div class="feedback"></div>
                                  </div>
                                  <!-- end bootstrap form-group -->

                                  <div class="form-row">
                                    <div class="col-md-6 col-sm-3 mb-3">
                                        <label class="label-form-control d-block required" for="cidade" >Cidade</label>
                                      <input 
                                      type="text" 
                                      class="form-control" 
                                      id="cidade" 
                                      placeholder="Insira a cidade"
                                      name="cidade" 
                                      required>
                                      <div class="invalid-feedback">
                                        Por favor, insira o nome da cidade
                                      </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="label-form-control d-block required" for="Estado" >Estado</label>
                                      <select class="custom-select" id="estado" name="estado" required>
                                        <option selected disabled value="">Selecionar...</option>
                                        <option>Acre</option>
                                        <option>Alagoas</option>
                                        <option>Amapá</option>
                                        <option>Amazonas</option>
                                        <option>Bahia</option>
                                        <option>Ceará</option>
                                        <option>Distrito Federal</option>
                                        <option>Espírito Santo</option>
                                        <option>Goiás</option>
                                        <option>Maranhão</option>
                                        <option>Mato Grosso</option>
                                        <option>Mato Grosso do Sul</option>
                                        <option>Minas Gerais</option>
                                        <option>Pará</option>
                                        <option>Paraíba</option>
                                        <option>Paraná</option>
                                        <option>Pernambuco</option>
                                        <option>Piauí</option>
                                        <option>Rio de Janeiro</option>
                                        <option>Rio Grande do Norte</option>
                                        <option>Rio Grande do Sul</option>
                                        <option>Rondônia</option>
                                        <option>Roraima</option>
                                        <option>Santa Catarina</option>
                                        <option>São Paulo</option>
                                        <option>Sergipe</option>
                                        <option>Tocantins</option>
                                        </select>
                                      <div class="invalid-feedback">
                                        Por favor, selecione um estado
                                      </div>
                                    </div>

                                    <!-- Input Cep -->
                                    <div class="col-md-3 mb-3">
                                        <label class="label-form-control d-block required" for="cep" >CEP</label >
                                            <input
                                              class="form-control form-control-cep w-100 masked required"
                                              data-validate="cep"
                                              id="cep"
                                              name="cep"
                                              pattern="^[0-9.-]*$"
                                              placeholder="XXXXX-XXX"
                                              required="required"
                                              spellcheck="false"
                                              title="Insira o CEP"
                                            />
                                      <div class="feedback"></div>
                                    </div>
                                  </div>

                                  <!-- Input Logradouro -->
                                  <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                      <label class="label-form-control d-block required" for="logradouro">Logradouro</label>
                                      <input 
                                      type="text" 
                                      class="form-control form-control-logradouro required"
                                      id="logradouro"
                                      name="logradouro"
                                      placeholder="Insira seu logradouro"
                                      spellcheck="false"
                                      title="Insira seu logradouro" 
                                      required>
                                      <div class="valid-feedback">
                                        Tudo certo!
                                      </div>
                                      <div class="invalid-feedback">
                                        Por favor, insira o logradouro
                                      </div>
                                    </div>
                                    
                                    <!-- Input Número -->
                                    <div class="col-md-6 mb-3">
                                      <label class="label-form-control d-block required" for="numero">Número</label>
                                      <input 
                                      type="number" 
                                      class="form-control form-control-numero w-100 required" 
                                      id="numero" 
                                      name="numero"
                                      placeholder="Número"
                                      title="Insira o número"
                                      required>
                                      <div class="valid-feedback">
                                        Tudo certo!
                                      </div>
                                      <div class="invalid-feedback">
                                        Por favor, insira o número
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Input Email -->
                                  <div class="form-group mx-auto">
                                    <label class="label-form-control d-block required" for="email" >Email</label >
                                    <input
                                    class="form-control form-control-email w-100 required"
                                    data-validate="email"
                                    id="email"
                                    name="authenticate_email"
                                    placeholder="Insira seu email"
                                    required="required"
                                    spellcheck="false"
                                    title="Insira seu email"
                                    type="text"
                                    />
                                    <div class="feedback"></div>
                                  </div>
                                  <!-- end bootstrap form-group -->
            
                                  <div class="form-group form-group-password mx-auto">
                                    <label class="label-form-control d-block required" for="password" >Senha</label>
                                    <input
                                      class="form-control form-control-password w-100 required"
                                      data-validate="password"
                                      id="password"
                                      name="password"
                                      placeholder="Insira sua senha"
                                      required="required"
                                      spellcheck="false"
                                      title="Insira sua senha"
                                      type="password"
                                    />
                                    <div class="feedback"></div>
                                    <div class="invalid-feedback">
                                      Por favor, insira uma senha
                                    </div>
                                  </div>
                                  <!-- end bootstrap form-group -->

                                  <div class="form-group form-group-confirm_password mx-auto">
                                    <label class="label-form-control d-block required" for="confirm_password" >Confirmar Senha</label>
                                    <input
                                      class="form-control form-control-password w-100 required"
                                      data-validate="confirm_password"
                                      id="confirm_password"
                                      name="confirm_password"
                                      placeholder="Confirme sua senha"
                                      required="required"
                                      spellcheck="false"
                                      title="Confirme sua senha"
                                      type="password"
                                    />
                                    <div class="feedback"></div>
                                  </div>
                                  <!-- end bootstrap form-group -->

                                  <div class="form-group row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn w-100 botao"> Cadastrar </button>
                                    </div>
                                  </div>
                                  <!-- end bootstrap form-group -->
                                  
                                </form>
                              </div>
                              <!-- end bootstrap col -->
                            </div>
                            <!-- end bootstrap row -->
                          </div>
                          <!-- end bootstrap container -->
                    </div>
                </div>  
            </div>
        </section>
    </main>
    <section>
        <!-- Modal Feedback -->
        <div class="modal fade" id="modal-feedback" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Aviso </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">        
                        <div class="row justify-content-center">
                            <div class="col-12"> 
                                <div class="row">
                                    <div class="col-12">
                                        <input id="feedback" type="hidden" value="<%= mensagemFeedback %>">
                                        <p id="mensagemFeedback" class="body-text-p text-center"> </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal"> Fechar </button>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/feedback.js"></script>
    <script type="text/javascript" src="javascripts/validacao.js"></script>
</body>
</html>