<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Party U </title>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="images/logo.png" type="image/x-icon" />
    <!-- CSS Externos -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/footer.css" rel="stylesheet">
    <!-- Fonte Ballo Da 2 e Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b119a7c30.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Jumbotron, Barra de Navegação, Frase Banner, Imagem Banner e Botão -->
    <header>
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid d-flex justify-content-end shadow-sm">
            <div class="container">
                <div id="topo" class="row">
                    <!-- Tag que Engloba Toda a Barra de Navegação -->
                    <nav class="navbar navbar-expand-lg col-12 navbar-fixed-top pt-0">
                        <!-- Barra de Navegação -->
                        <div class="navbar-collapse">
                            <div class="expand-lg mr-auto text-center">
                                <a class="navbar-brand align-items-center " alt="home">
                                    <a href="/" > <p id="titulo_logo"> PARTY U </p> </a>
                                </a>
                             </div>
                            <!-- (Margem Esquerda, Sobre Nós, Contato e Cadastro)  -->
                            <ul class="navbar-nav mr-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#sobre-nos" alt="Sobre nós">Sobre nós</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contato" alt="Contato">Contato</a>
                                </li>
                            </ul>
                            <!-- (Margem Direita (Menu Dropdown)-->
                            <ul class="navbar-nav ml-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="/login" alt="Login">Login</a>
                                </li>
                                <li class="navbar-nav ml-auto align-items-center">
                                    <li class="nav-item">
                                        <div class="dropdown show">
                                            <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                               Cadastro
                                            </a>
                                          
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                              <a class="dropdown-item" href="/cadastroParticipante">Participante</a>
                                              <a class="dropdown-item" href="/cadastroPromotora">Promotor</a>
                                            </div>
                                        </div>                
                                    </li>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- Tag que Engloba Todo o Banner -->
                <div class="row">
                    <!-- Div que Contém o Texto do Banner -->
                    <div class="coluna-texto-principal col-lg-6 col-md-6 col-sm-12 col-xs-12 expand-lg  ">
                      
                        <span> 
                            Curtimos melhor juntos! <br> <br>
                            Gerencie seus eventos. <br>
                            Participe de eventos. <br> <br>
                            Seguro. Simples. Livre.
                        </span>
                         <!--Botão "Conheça Nossa História" Logo Após o Banner-->
                         <div >
                            <a class="button-header" href="#sobre-nos">Conheça Nossa História</a>
                        </div>
                    </div>
                    <!-- Div que Contém a Imagem do Banner -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <img id="imagem-principal" class="rounded float-right" src="images/eventos.svg">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <!-- Primeira Section: Textos e Imagens -->
        <section>
            <!-- Article "Sobre Nós" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém Título "Sobre Nós" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 id="sobre-nos" class="titulo">Sobre nós</h2>
                            <p class="body-text-p"> 
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam eum ipsam voluptate explicabo. Molestiae, tempore minus? Fugiat, est! Rerum neque labore quos impedit voluptates numquam molestias delectus corrupti beatae distinctio.
                            </p>
                        </div>
                        <!-- Div que Contém a Imagem do Conteúdo "Sobre Nós" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/sobre_nos.svg" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
            <!-- Article "Para Nossos Professores" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Professores" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <img src="images/organizadores.svg" class="rounded float-left img" alt="icone">
                        </div>
                        <!-- Div que Contém Título "Para Nossos Professores" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2 class="titulo">Para organizadores</h2>
                            <p class="body-text-p"> 
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis a placeat explicabo quam! Error earum molestiae iste, optio consequatur harum neque iusto quod vero! Et molestias voluptate nesciunt at labore!
                            </p>
                        </div>
                    </div>
                </div> 
            </article>
            <!-- Article "Para Nossos Alunos" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Div que Contém Título "Para Nossos Alunos" e seu texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 class="titulo">Para promotores</h2>
                            <p class="body-text-p">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facilis unde sunt doloremque consequatur animi sequi eligendi natus, illo expedita blanditiis nesciunt omnis est optio necessitatibus consequuntur similique quod vero.
                            </p>
                        </div>
                        <!-- Div que Contém a Imagem do Conteúdo "Para Nossos Alunos" -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/participantes.svg" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- Footer da Página -->
        <%- include('./partials/footer') %>
        <!-- Botão Com Efeito Para Voltar Ao Topo Quando Clicado -->
        <a href="#topo">
            <div id="botaotop">
                <i class="setaTopo">^</i>
            </div>
        </a>
    </main>

    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/src/actions/validations.js"></script>
    <script type="text/javascript" src="/javascripts/src/actions/validationsAluno.js"></script>
    <script type="text/javascript" src="/javascripts/src/actions/hideModalCadastro.js"></script>
</body>
</html>