<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Eventos </title>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Externos -->
    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!-- Fonte Ballo Da 2 e Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Cabeçalho -->
    <header class="align-self-center shadow-sm p-3 mb-5 bg-white rounded">
        <div id="container" class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                    <h2 class="titulo"> Eventos </h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end text">
                    <a href="/login"> <button type="button" class="botao btn"> Login </button> </a>
                    <a href="#divCadastro"> <button type="button" class="botao ml-5 btn"> Cadastre-se </button> </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <!-- Primeira Section: Textos e Imagens -->
        <section>
            <!-- Article "Gerencie Seus Eventos" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Título e texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 id="sobre-nos" class="titulo">Gerencie Seus Eventos</h2>
                            <p class="body-text-p"> 
                                Uma maneira simples e fácil de gerenciar seus eventos, a plataforma
                                possui todas as ferraments necessárias para você criar os melhores 
                                dos eventos
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao" style="color: white;" title="Settings" data-toggle="modal"
                                data-target="#modalGerencieEventos">Leia mais</a>
                            </div>
                        </div>
                        <!-- Imagem -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/gerenciando_eventos.png" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
            <!-- Article "Otimize seu tempo" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Imagem -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <img src="images/gerenciando_tempo.png" class="rounded float-left img" alt="icone">
                        </div>
                        <!-- Título e texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2 class="titulo">Otimize Seu Tempo</h2>
                            <p class="body-text-p"> 
                                Não se preocupa mais com a maneira tradicional de gerenciar eventos, junte-se a plataforma
                                e conheça formas de otimizar seu tempo ao gerenciar seus eventos
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao" style="color: white;" title="Settings" data-toggle="modal"
                                data-target="#modalOtimizeTempo">Leia mais</a>
                            </div>
                        </div>
                    </div>
                </div> 
            </article>
            <!-- Article "Facilidade Financeira" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="row">
                        <!-- Título e texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                            <h2 class="titulo">Facilidade Financeira</h2>
                            <p class="body-text-p">
                                Cansado de realizar a manutenção na parte financeira de seus eventos? 
                                deixe esse trabalho com a gente! nós seremos responsáveis pelas transações
                                e ações de maneira segura e prática
                            </p>
                            <div class="div-botao-section">
                                <a href="#" class="botao" style="color: white;" title="Settings" data-toggle="modal"
                                data-target="#modalFacilidadeFinanceira">Leia mais</a>
                            </div>
                        </div>
                        <!-- Imagem do Conteúdo -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/transferindo_dinheiro.png" class="rounded float-right img" alt="icone">
                        </div>
                    </div>
                </div>
            </article>
            <!-- Article "Facilidade Financeira" -->
            <article class="shadow-sm p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div id="divCadastro" class="row">
                        <!-- Título e texto -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                            <h2 class="titulo">Cadastro Participante</h2>
                        
                            <div class="mt-5 mb-5 div-botao-section">
                                <a href="/cadastroParticipante"> <button type="button" class="botao ml-5 btn"> Cadastre-se </button> </a>
                            </div>
                        </div>
                        <!-- Imagem do Conteúdo -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                            <h2 class="titulo">Cadastro Promotora</h2>
                        
                            <div class="mt-5 mb-5 div-botao-section">
                                <a href="/cadastroPromotora"> <button type="button" class="botao ml-5 btn"> Cadastre-se </button> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <!-- Segunda Section: Modais -->
        <section>

            <!-- Modal gerencie seus eventos -->
            <div id="modalGerencieEventos" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
        
                        <!--Header - titulo-->
                        <div class="modal-header">
                            <h4 class="modal-title titulo">Gerencie Seus Eventos</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <strong> <bold>&times;</bold> </strong>
                            </button>
                        </div>
                        <!--Body - texto -->
                        <div class="modal-body">
                            <p class="modal-text body-text-p">
                                Uma maneira simples e fácil de gerenciar seus eventos, a plataforma
                                possui todas as ferraments necessárias para você criar os melhores 
                                dos eventos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal gerencie seus eventos -->
            <div id="modalGerencieEventos" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Titulo-->
                        <div class="modal-header">
                            <h4 class="modal-title titulo">Gerencie Seus Eventos</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <strong> <bold>&times;</bold> </strong>
                            </button>
                        </div>
                        <!-- Texto -->
                        <div class="modal-body">
                            <p class="modal-text body-text-p">
                                Uma maneira simples e fácil de gerenciar seus eventos, a plataforma
                                possui todas as ferraments necessárias para você criar os melhores 
                                dos eventos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Otimize Seu Tempo -->
            <div id="modalOtimizeTempo" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Titulo -->
                        <div class="modal-header">
                            <h4 class="modal-title titulo">Otimize Seu Tempo</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <strong> <bold>&times;</bold> </strong>
                            </button>
                        </div>
                        <!-- Texto -->
                        <div class="modal-body">
                            <p class="modal-text body-text-p">
                                Não se preocupa mais com a maneira tradicional de gerenciar eventos, junte-se a plataforma
                                e conheça formas de otimizar seu tempo ao gerenciar seus eventos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Facilidade Financeira -->
            <div id="modalFacilidadeFinanceira" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Titulo -->
                        <div class="modal-header">
                            <h4 class="modal-title titulo">Facilidade Financeira</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <strong> <bold>&times;</bold> </strong>
                            </button>
                        </div>
                        <!-- Texto -->
                        <div class="modal-body">
                            <p class="modal-text body-text-p">
                                Cansado de realizar a manutenção na parte financeira de seus eventos? 
                                deixe esse trabalho com a gente! nós seremos responsáveis pelas transações
                                e ações de maneira segura e prática.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</body>
</html>