<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Party U </title>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="images/logo.png" type="image/x-icon" />
    <!-- CSS Externos -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
    <!-- Fonte Ballo Da 2 e Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Cabeçalho -->
    <header class="align-self-center p-3 bg-white rounded">
        <div id="container" class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <a href="/" > <p id="titulo_logo"> PARTY U </p> </a> 
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <section>
            <h2 class="text-center titulo"> Login </h2>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <!-- Formulário Login -->
                        <form action="/loginForm" method="POST">
                            <!-- Input E-mail -->
                            <div class="form-group row mb-0">
                                <label for="email" class="col-sm-12 col-form-label"></label>
                                <div class="col-md-12">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                                </div>
                            </div>
                            <!-- Input Senha -->
                            <div class="form-group row">
                                <label for="password" class="col-sm-12 col-form-label"></label>
                                <div class="col-md-12">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha">
                                </div>
                            </div>
                            <!-- Botão de Login -->
                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn w-100 botao">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>  
            </div>
        </section>
    </main>
    <section>
        <!-- Modal Feedback -->
        <div class="modal fade" id="modal-feedback" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Aviso </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">        
                        <div class="row justify-content-center">
                            <div class="col-12"> 
                                <div class="row">
                                    <div class="col-12">
                                        <input id="feedback" type="hidden" value="<%= mensagemFeedback %>">
                                        <p id="mensagemFeedback" class="body-text-p text-center"> </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal"> Fechar </button>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/feedback.js"></script>
</body>
</html>