<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Party U </title>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="images/logo.png" type="image/x-icon" />
    <!-- CSS Externos -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/participante.css" rel="stylesheet">
    <link href="stylesheets/header.css" rel="stylesheet">
    <!-- Fonte Ballo Da 2 e Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b119a7c30.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header da Página -->
    <%- include('../partials/headerPromotora') %>
    <!-- Main -->
    <main>
        <div id="container" class="container-fluid">
            <div class="row">
                <!-- Corpo da página -->
                <div class="col-12 text p-3 mb-5 bg-white rounded">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3 class="text-center titulo"> Criar Evento </h3>
                            <!-- Formulário Cadastro Evento -->
                            <form action="/cadastroEvento" method="POST">
                                <!-- Input Nome -->
                                <div class="form-group row mb-0">
                                    <label for="nome" class="col-sm-12 col-form-label"></label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do evento">
                                    </div>
                                </div>
                                <!-- Input Tema -->
                                <div class="form-group row mb-0">
                                    <label for="tema" class="col-sm-12 col-form-label"></label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="tema" name="tema" placeholder="Digite o tema do evento">
                                    </div>
                                </div>
                                <!-- Input Edição -->
                                <div class="form-group row mb-0">
                                    <label for="edicao" class="col-sm-12 col-form-label"></label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="edicao" name="edicao" placeholder="Digite a edição do evento">
                                    </div>
                                </div>
                                <!-- Input data início -->
                                <div class="form-group row mb-0">
                                    <label for="dataInicio" class="col-sm-12 col-form-label"></label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="dataInicio" name="data_inicio" placeholder="Digite a de data início: aaaa-mm-dd">
                                    </div>
                                </div>
                                <!-- Input data fim -->
                                <div class="form-group row mb-3">
                                    <label for="dataFim" class="col-sm-12 col-form-label"></label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="dataFim" name="data_fim" placeholder="Digite a data de fim: aaaa-mm-dd">
                                    </div>
                                </div>
                                <!-- Botão para confirmar  -->
                                <div class="form-group row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn w-100 botao"> Cadastrar Evento </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</body>
</html>